.header {
    background-color: black;
    border-bottom: red 2px solid;
    position: fixed;
    top: 0;
    width: 100%;
    height: 68px;
    display: flex;
    padding-block: 0.75rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-around;
}

.header span {
    font-size: 2rem;
    color: #F00;
    font-weight: 500
}

/* .header nav {
    margin-right: 2rem;
} */

.header a {
    text-decoration: none;
    color: white;
    padding-inline: 0.75rem;
    font-size: 1.125rem;
}